.purchase-container {
  position: fixed;
  margin: 0 auto;
  max-width: 900px;
  margin-left: 260px;
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(95, 1, 1, 0.1);
  overflow: hidden;
}
.h2-purchase {
  color: rgb(165, 65, 3);
}

.purchase-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchase-container form {
  display: flex;
  flex-direction: column;
  float: left;
}

.purchase-container label {
  margin-bottom: 10px;
}

.purchase-container input[type="text"],
.purchase-container input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.purchase-container input[type="text"][readonly] {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.purchase-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.purchase-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.purchase-container button:hover {
  background-color: #0056b3;
}
.purchaseimage {
  background-repeat: no-repeat;
  display: flex;
}
.purchase-image {
  height: 250px;
}
