/* u-farmer.css */

.update-farmer-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;
  margin-top: 90px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 60%;
  overflow: hidden;
  height: 70vh;
}

.update-farmer-form {
  flex-grow: 1;
  margin-left: 30px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.txt {
  width: 150px;
  padding: 8px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.date-input{
  width: 180px;
  padding: 8px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sb {
  margin-top: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
 
  
}
.sb1{
  width: 100px;
  margin-right: 10px;
  float: right;
}

.desc{
  width:200px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.right-side-image {
  flex-basis: 200px; /* Adjust the width of the right-side image as needed */
}

.image-placeholder {
  width: 400px;
  height: 400px;
 margin-left: 10px;
  border-radius: 5px;
}
